.about{
    margin: 30px ;
    height: 500px;
    padding: 20px;
    box-shadow: rgb(55, 53, 53) 0px  5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.about-img img{
    width:500px;
    border-radius: 10px;
}

.about-content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: white;
    flex-direction: column;
    margin-left: 20px;
}

.about-content h1{
    font-family: cursive;
    border-bottom: 1px solid rgb(153, 94, 94);
    color: goldenrod;
}

.about span{
    color: goldenrod;
    font-size: 24px;
}
.about-content p{
    text-align: justify;
    padding: 20px;
}

@media (max-width:600px) {

    .about{
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
   .about-content h1{
    font-size: 25px;
    margin-top: 20px;
   }
   .about-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img img{
        width: 80%;
    }
    .about-content{
        font-size: 14px;
    }

}


#dark{
    .about{
        background-color: var(--darkgray);
    }
}